html{


}

body{

    background-color: white;

}

.youtube{
    background-color: #cc0000;
    color: white;
    border: none;
    height: 36.8px;
    width: 112.91px;
    padding: 10px 16px;   
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;    
}

.youtube:hover{
    opacity: 0.6;   /*stilini etkilediği öğenin renginin beyaza doğru solmasını sağlar sadece 0 ve 1 aralığında değer alabilir. */
                    /*1 --> hiç solma yok,  0--> tamamen beyaz */
    transition: opacity 0.15s; /* animasyonların delaylı veya zamana yayılacak şekilde olmasını sağlar kullanımının örneği yanda.*/

}
.youtube:active{
    opacity: 0.4;
    transition: opacity 0.15s;
}


.Join{
    background-color: white;
    color: #065fd4;
    border: 1px solid #065fd4; 
    height: 36.4px;                                                     
    width: 63.5px;                         
    border-radius: 2px;
    cursor: pointer;
    padding: 9px 15px;
    transition: all 0.15s;
}

.Join:hover{
    
    background-color: #065fd4;
    color: white;
}
.Join:active{
    opacity: 0.7;
}

.twitter {

    font-size: 15px;
    background-color: #1d9bf0;
    color: white;
    width: 74.08px;
    height: 36.5px;
    border: none;
    padding: 7px 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s ;
}
.twitter:hover{
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    
}


/*
    **Bu derste hovers öğreneceğiz. İnternet sitelerinde gezerekn butonların üzerine geldiğimizde bazılarının animasyonla renk değiş-
    tirdiği veya imleci üzerine getirdiğimiz resimlerin büyüdüğünü görürüz. Bunların hepsi hover özelliği ile olur.
    
    **hover**
        
        *ilk özelliğimiz şu şekilde kullanılıyor ;

            .Join{} kısmı ile Join adını verdiğimiz butonun stilini düzenlemiştik zaten.

            .Join:hover{} dediğimizde artık olay şuna döner. Kullanıcı imleci butonun üzerine getirdiği zaman artık buranın içine 
             yazılmış olan stil özellikleri aktif olacaktır.

        
        *:active ;

            kullanılan bir diğer pseudo-class ise active, pseudo-classıdır. Bunun özelliği şudur ;

                kullanıcı butonumuza tıkladığı zaman gerçekleşicek olan stil değişikliğini belirtir.




        *transition kullanımı : transition geçiş animasyonlarının süresini belirler mesela opacity özelliğine geçiş animasyonunu biraz 
        yavaş ve yumuşak olucak şekilde yapabiliriz. kullanımı şu şekildedir.

            transition: opacity 0.15s; önce transition deriz sonra hangi öğenin geçiş animasyonunu değiştiriceğini söyleriz ve daha son-
            rada geçiş animasyonunun süresini ayarlarız. eğer istersek öğeler arasına virgül koymak şartı ile birden fazla öğeninkini 
            değiştirebiliriz.

                transition: background-color 0.15s, color 0.15s;

                *transition kullanırken dikkat edilmesi gereken önemli hususlardan biride transition nereye koyduğundur. Mesela bir
                buton için transition özelliğini active stilinin oraya koyarsan sadece active stilinin animasyonunda gecikme 
                olacaktır mausu çektiğimizde anında normale dönecektir. Bunu önlemek için transition özelliğini ana stilde kullanmak 
                daha iyi olacaktır.



       *box-shadow: css stillerinde bir HTML öğesinin arka planını gölgendirmek için kullanılır. elemanları şu şekildedir ;

                         (yatay gölgenin boyutu)                            (bulanıklık)                 
            box-shadox:   h-shadow                  v-shadow                 blur(isteğe bağlı)       color(isteğe bağlı);     
                                                 (dikey gölgenin boyutu)            
        
         *iyi bir gölge oluşturmanın püf noktalarında biri gölge renginin, gölge oluşturduğun html öğesinin renginin daha koyu 
         bir tonu olucak şekilde seçmektir. 
         
         *renk seçmek için farklı bir yapı öğrenelim. rgba. klasik rgb gibi sadece tek fark sonundaki a. o da opacity değeridir.
                rgba(value,  value,   value,   value)
                    (0-255)  (0-255)  (0-255)  (0-1)
         


*/



